In [21]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [22]:
df = pd.read_csv("Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [33]:
# Null Hypothesis
# The percent of defective are same

# Alternate Hypothesis
# The percent of defective are not same

#Confidence Interval
ci = 0.95
alpha = 1 - ci
alpha

0.050000000000000044

In [34]:
df.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [35]:
df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [36]:
df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [37]:
df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [38]:
#Now we have to make contingency table.

ErrorFree = [271,267,269,280]
Defective = [29,33,31,20]

obs=np.array([[ErrorFree],[Defective]])
obs

array([[[271, 267, 269, 280]],

       [[ 29,  33,  31,  20]]])

In [39]:
# Chi2 contingency independence test
(stats,p_val,dof,expected_values) = chi2_contingency(obs)
(stats,p_val,dof,expected_values)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[[271.75, 271.75, 271.75, 271.75]],

        [[ 28.25,  28.25,  28.25,  28.25]]]))

In [40]:
pvalue = (stats,p_val,dof,expected_values)[1]

if pvalue < alpha:
    print("Null must not go")
else:
    print("Null must fly")

Null must fly

Inference : - Here, Null Hypothesis is correct. The defective percent of the centre are same.